.z-container {
  width: 100%;
  display: flex;

  .left {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 37px -7px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    margin-right: 18px;

    .image {
      margin-top: 20px;
      width: 260px;
      height: 260px;
      border-radius: 4px;
    }

    .title {
      height: 24px;
      margin-top: 24px;
      display: flex;
      align-items: center;

      .name {
        font-size: 20px;
        margin-right: 10px;
        color: #374151;
      }

      .in {
        display: flex;
        align-items: center;

        .icon {
          margin-left: 10px;
          cursor: pointer;
        }

      }
    }

    .time {
      margin-top: 22px;
      color: #606266;
    }
  }

  .right {
    width: calc(100% - 328px);
    background-color: white;
    padding: 40px 20px;
    box-shadow: 0 0 37px -7px rgba(0, 0, 0, 0.18);
    border-radius: 4px;

    .btn-list {
      margin-top: 26px;
    }
  }
}

:deep(.el-textarea__inner) {
  resize: none;
}
