$AsideWidth: 240px;
$TitleHeight: 55px;
$HeaderHeight: 50px;
$AsideHiddenWidth: 64px;


:export {
  aside-width: $AsideWidth;
  titleHeight: $TitleHeight;
  header-heigth: $HeaderHeight;
  aside-hidden-width: $AsideHiddenWidth;
}
